/* Body */
body {
    padding: 0;
    margin: 0;
    font-family: roboto sans-serif;
}

main {
    margin-top: 80px; /* height of navbar */
}

/* Navbar Transparent */
.navbar-home {
  background-color: transparent !important;
  position: absolute; /* or fixed-top in HTML */
  width: 100%;
  z-index: 10;
  transition: background-color 0.5s ease;  
}

.navbar-brand img {
    width: 120px;
    height: 50px;
    margin-left: 15px;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em;
    color: #fff;
    font-size: large;
    font-weight: bold;
    text-shadow: #000000 1px 1px 2px;
    transition: transform 0.3s ease;
    will-change: transform;    
}

.nav-link:hover {
    color: #fff;
    transform: scale(1.2);
    text-shadow: none;        
}

.navbar-toggler {
    border: none;
    outline: none;
}

/* Hero section */
.hero_image {
  background: url('Public/hero/Hero1.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  padding-top: 80px; /* height of navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;  
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* adjust opacity */
  z-index: 1;  
}

/* Centered text */
.home-inner {
    z-index: 2;
    position: relative;
    width: 100%;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    animation: fadeIn 2s ease-in-out;    
}

/* Text styling */
.hero_title {
    font-size: 70px;
    font-weight: bolder;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
}

.hero_desc {
    font-size: 40px;
    font-weight: bolder;
    color: white;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px #000000;    
}

/* Buttons */
.btn-act {
    background-color: #1275c7;
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    margin: 0 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    will-change: background-color, transform;    
}
.btn-act:hover {
    background-color: rgb(221, 7, 210);
    color: #fff;
    transform: scale(1.1);
    text-shadow: 2px 2px 4px #000000;    
}
.btn-proj {
    background-color: #27445C;
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    margin: 0 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    will-change: background-color, transform;    
}
.btn-proj:hover {
    background-color: rgb(7, 21, 221);
    color: #fff;
    transform: scale(1.1);
    text-shadow: 2px 2px 4px #000000;    
}
/* Social icons */
.social_top {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;    
}

.social_top a {
    font-size: 35px;
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease;
    will-change: transform;    
}
.social_top a:hover {
    color:rgb(93, 221, 7);
    scale: 1.2;
    text-shadow: 2px 2px 4px #000000;    
}

/* About Section */
.about {
    padding-top: 50px;
}
.about-title {
    text-align: center;
    padding-top: 50px;
}

.card-img-top{
    height: 400px;  
}

.card {
    margin:15px 15px 15px 0;
}

.carousel {
    width: 100%;  /* 100% of the page/container width */
    margin-left: auto;  /* Center the carousel horizontally */
    margin-right: auto; /* Center the carousel horizontally */
}

/* Adjust the image inside the carousel */
.carousel-item img {
    width: 100%;  /* Make the image take up the full width of the carousel */
    height: 600px; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the container without distortion */
}

/* Optional: Make the carousel responsive on smaller screens */
@media (max-width: 768px) {
    .carousel {
        width: 100%;  /* Increase the width for smaller devices if needed */
    }
}
/* Activities Section*/

.container_act {
    margin-top: 40px;
}
/* Contact Section */
.contact_social a {
    font-size: 30px;
    text-decoration: none;
    color: #1275c7;
    margin-right: 5px;
}

.contact_social a:hover {
    color:rgb(93, 221, 7);
}
.img-fluid {
    width: 550px;
    height: 350px;
    margin-top: 15px;
}

.d-grid {
    margin-left: -15px;
}

/* Footer Section */
.py-4 {
    background-color: #27445C;    
}
.nav-item a {
    color: #fff;
}   

.socials_bottom a {
    font-size: 30px;
    text-decoration: none;
    color:#fff;
    margin-left: 15px;
}
.socials_bottom a:hover {
    color:rgb(93, 221, 7);
}