/* Body */
body {
    padding: 0;
    margin: 0;
    font-family: roboto sans-serif;
}

/* Navbar */
.navbar {
    background:#014630;
    position: sticky;
}

.navbar-brand img{
    width: 120px;
    height: 50px;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}
.nav-link:hover {
    color:#fff;    
    transform: scale(1.2);
    text-shadow: none;  
}
.navbar-collapse {
    justify-content: flex-end;
    text-decoration: none;
    color: #fff;
}

/* Hero section */
.bgimage {
    height:100vh;
    background: url('Public/contact/contact.jpg');
    background-size:cover;
    position: relative;
    background-position: center;
    text-align: center;
}    

.hero_title{
    font-size: 70px;
    font-weight: bolder;
    color:#011b13; 
    margin-top: 300px; 
}   

.hero_desc{
    font-size: 40px;
    font-weight: bolder;
    color:#011b13;
}

.social_top a {
    font-size: 40px;
    text-decoration: none;
    color:#011b13;
}    

/* About Section */
.about {
    padding-top: 50px;
}
.about-title {
    text-align: center;
    padding-top: 50px;
}

.card-img-top{
    height: 400px;  
}

.card {
    margin:15px 15px 15px 0;
}

/* Contact Section */
.contact_social a {
    font-size: 30px;
    text-decoration: none;
    color:#014630;
    margin-right: 5px;
}

.img-fluid {
    width: 550px;
    height: 350px;
}

.d-grid {
    margin-left: -15px;
}

/* Footer Section */
.py-4 {
    background-color: #014630;    
}
.nav-item a {
    color: #fff;
}   

.socials_bottom a {
    font-size: 30px;
    text-decoration: none;
    color:#fff;
    margin-left: 15px;
}